## 資料庫連接 & CRUD

*  RDB : MysQL
*  NoSQL : MongoDB

### 1. MysqL

#### 1.0 安裝套件 -- mysqlclient

* Python 2+ : pip install mysqlclient
* Python 3+ : pip3 install mysqlclient

#### 1.1 引用套件

In [5]:
import MySQLdb

#### 1.2 連接資料庫

In [7]:
conn = MySQLdb.Connect(host="localhost",user = "root",passwd ="1qazxsw2",db="demo",charset="utf8")

#### 1.3 顯示資料表清單

In [15]:
cmd = conn.cursor()
cmd.execute("Show TABLES")
r = cmd.fetchall()
print(r)

(('EMPLOYEE',),)

#### 1.4 創建資料表

In [9]:
sql = """CREATE TABLE IF NOT EXISTS EMPLOYEE (
         ID INTEGER NOT NULL AUTO_INCREMENT,
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,
         SEX CHAR(1),
         INCOME FLOAT,
         COUNTRY VARCHAR(30),
         PRIMARY KEY (ID))"""

cmd.execute(sql)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:11: Warning: (1050, "Table 'EMPLOYEE' already exists")
  # This is added back by InteractiveShellApp.init_path()

0

#### 1.5 新增資料

In [35]:
#新增一筆資料

sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME,COUNTRY)
         VALUES ('Lala', 'Lin', 35, 'M',80000,"Taichung")"""

try:
    cmd.execute(sql)
    conn.commit()
    print("Insert Success")
    
except:   
    conn.rollback()
    print("Insert Error")

Insert Success

In [36]:
#新增多筆資料

sql = "INSERT INTO EMPLOYEE VALUES(%s,%s,%s,%s,%s,%s,%s)"
print(cmd.executemany(sql,[
    (0,'David', 'Yang', '45', 'M','55500','Taipei'),
    (0,'Mark', 'Hu', '28', 'M','33500','Taipei'),
    (0,'Carol', 'Chen', '25', 'F','42500','Taipei'),
    ]))
conn.commit()

3

#### 1.6 查詢資料

In [38]:
#一次將所有的查詢結果都取回後，再以迴圈輸出

sql = "SELECT * FROM EMPLOYEE"

try:
    cmd.execute(sql)
    results = cmd.fetchall()
    for row in results:
        pid = row[0]
        fname = row[1]
        lname = row[2]
        age = row[3]
        sex = row[4]
        income = row[5]
        country= row[6]
        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country ))
        #print("fname=%s,lname=%s,age=%d,sex=%s,income=%d" %(fname, lname, age, sex, income ))
    
except:
    print("Error: unable to fecth data")

fname=Lala,lname=Lin,age=35,sex=M,income=80000, country=Taichung
fname=David,lname=Yang,age=45,sex=M,income=55500, country=Taipei
fname=Mark,lname=Hu,age=28,sex=M,income=33500, country=Taipei
fname=Carol,lname=Chen,age=25,sex=F,income=42500, country=Taipei

In [49]:
#一次只取回一筆查詢結果，這種方式在處理大量資料時，可以節省記憶體空間

sql = "SELECT * FROM EMPLOYEE"
cmd.execute(sql)
    
try:
    cmd.execute(sql)
    
    rowsCount = cmd.rowcount
    print(rowsCount)
    
    for i in range(0,rowsCount):
        record = cmd.fetchone()
        pid = record[0]
        fname = record[1]
        lname = record[2]
        age = record[3]
        sex = record[4]
        income = record[5]
        country= record[6]

        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country ))
        
except:
    print("Error: unable to fecth data")

3
fname=Lala,lname=Lin,age=32,sex=M,income=80000, country=Taichung
fname=Mark,lname=Hu,age=28,sex=M,income=33500, country=Taipei
fname=Carol,lname=Chen,age=25,sex=F,income=42500, country=Taipei

#### 1.7 更新資料

In [44]:
sql = "UPDATE EMPLOYEE SET AGE ='32' WHERE FIRST_NAME ='Lala'"
cmd.execute(sql)
conn.commit()

#### 1.8 刪除資料

In [48]:
sql = "DELETE FROM EMPLOYEE WHERE AGE >= '%d'" % (40)
#print(sql)

#sql = "DELETE FROM EMPLOYEE"

try:
    
    cmd.execute(sql)
    conn.commit()
    
    sql = "SELECT * FROM EMPLOYEE"
    cmd.execute(sql)
  
    print( cmd.fetchall())   
    #print( cmd.fetchmany(2))      
    #print( cmd.fetchone())
    
except:
    conn.rollback()

((9, 'Lala', 'Lin', 32, 'M', 80000.0, 'Taichung'), (11, 'Mark', 'Hu', 28, 'M', 33500.0, 'Taipei'), (12, 'Carol', 'Chen', 25, 'F', 42500.0, 'Taipei'))

### 2. MongoDB


* Start MongoDB service :  sudo service mongod start
* run command : mongo

#### 2.0 安裝套件 -- pymongo
* Python 2+ : pip install pymongo
* Python 3+ : pip3 install pymongo

#### 2.1 引用套件

In [5]:
import pymongo

#### 2.2 連接資料庫

In [6]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["demo"]

In [9]:
dblist = myclient.list_database_names() #讀取資料庫清單
if "demo" in dblist:
    print("DB 已存在！")
else:
    print("DB 不存在！")

DB 不存在！

#### 2.3 插入資料

In [18]:
mycol = mydb["Movie"]

In [11]:
# 插入一筆資料

mydict = {"name":"Star Wars I", "year":"1977"}

x = mycol.insert_one(mydict)

print(x.inserted_id)

5c04e13cf4e8330a563b83b7

In [20]:
# 插入多筆資料

mylist = [
  {"name":"Star Wars II", "year":"1980"}, 
  {"name":"Star Wars III", "year":"1983"}, 
  {"name":"Star Wars IV", "year":"1986"}, 
  {"name":"Star Wars V", "year":"1990"}, 
  {"name":"Star Wars VI", "year":"1993"}, 
  {"name":"Star Wars VII", "year":"1996"}
]
 
x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5c04e412f4e8330a563b83be'), ObjectId('5c04e412f4e8330a563b83bf'), ObjectId('5c04e412f4e8330a563b83c0'), ObjectId('5c04e412f4e8330a563b83c1'), ObjectId('5c04e412f4e8330a563b83c2'), ObjectId('5c04e412f4e8330a563b83c3')]

In [21]:
# 插入多筆資料並指定id
mylist = [
  { "_id":8, "name":"Star Wars VIII", "year":"1999"},
  { "_id":9, "name":"Star Wars IX", "year":"2002"},
  { "_id":10, "name":"Star Wars X", "year":"2005"}
]
 
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[8, 9, 10]

#### 2.4 查詢資料

In [22]:
# 回傳一筆資料
x = mycol.find_one() 
print(x)

{'_id': ObjectId('5c04e13cf4e8330a563b83b7'), 'name': 'Star Wars I', 'year': '1977'}

In [23]:
# 回傳多筆資料
data = mycol.find()
for x in data :
    print(x)

{'_id': ObjectId('5c04e13cf4e8330a563b83b7'), 'name': 'Star Wars I', 'year': '1977'}
{'_id': ObjectId('5c04e412f4e8330a563b83be'), 'name': 'Star Wars II', 'year': '1980'}
{'_id': ObjectId('5c04e412f4e8330a563b83bf'), 'name': 'Star Wars III', 'year': '1983'}
{'_id': ObjectId('5c04e412f4e8330a563b83c0'), 'name': 'Star Wars IV', 'year': '1986'}
{'_id': ObjectId('5c04e412f4e8330a563b83c1'), 'name': 'Star Wars V', 'year': '1990'}
{'_id': ObjectId('5c04e412f4e8330a563b83c2'), 'name': 'Star Wars VI', 'year': '1993'}
{'_id': ObjectId('5c04e412f4e8330a563b83c3'), 'name': 'Star Wars VII', 'year': '1996'}
{'_id': 8, 'name': 'Star Wars VIII', 'year': '1999'}
{'_id': 9, 'name': 'Star Wars IX', 'year': '2002'}
{'_id': 10, 'name': 'Star Wars X', 'year': '2005'}