## 資料庫連接 & CRUD

*  RDB : MysQL
*  NoSQL : MongoDB

### 1. MysqL

#### 1.0 安裝套件 -- mysqlclient

* Python 2+ : pip install mysqlclient
* Python 3+ : pip3 install mysqlclient

#### 1.1 引用套件

In [21]:
import MySQLdb

#### 1.2 連接資料庫

In [22]:
conn = MySQLdb.Connect(host="localhost",user = "root",passwd ="user",db="Demo",charset="utf8")

#### 1.3 顯示資料表清單

In [23]:
cmd = conn.cursor()
cmd.execute("Show TABLES")
r = cmd.fetchall()
print(r)

()

#### 1.4 創建資料表

In [24]:
sql = """CREATE TABLE IF NOT EXISTS EMPLOYEE (
         ID INTEGER NOT NULL AUTO_INCREMENT,
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,
         SEX CHAR(1),
         INCOME FLOAT,
         COUNTRY VARCHAR(30),
         PRIMARY KEY (ID))"""

cmd.execute(sql)

0

#### 1.5 新增資料

In [25]:
#新增一筆資料

sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME,COUNTRY)
         VALUES ('Nick', 'Lin', 35, 'M',80000,"Taichung")"""

try:
    cmd.execute(sql)
    conn.commit()
    print("Insert Success")
    
except:   
    conn.rollback()
    print("Insert Error")

Insert Success

In [26]:
#新增多筆資料

sql = "INSERT INTO EMPLOYEE VALUES(%s,%s,%s,%s,%s,%s,%s)"
print(cmd.executemany(sql,[
    (0,'David', 'Yang', '45', 'M','55500','Taipei'),
    (0,'Mark', 'Hu', '28', 'M','33500','Taipei'),
    (0,'Carol', 'Chen', '25', 'F','42500','Taipei'),
    ]))
conn.commit()

3

#### 1.6 查詢資料

In [27]:
#一次將所有的查詢結果都取回後，再以迴圈輸出

sql = "SELECT * FROM EMPLOYEE"

try:
    cmd.execute(sql)
    results = cmd.fetchall()
    for row in results:
        pid = row[0]
        fname = row[1]
        lname = row[2]
        age = row[3]
        sex = row[4]
        income = row[5]
        country= record[6]
        
        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country )) 
  
    
except:
    print("Error: unable to fecth data")

fname=Nick,lname=Lin,age=35,sex=M,income=80000, country=Taipei
fname=David,lname=Yang,age=45,sex=M,income=55500, country=Taipei
fname=Mark,lname=Hu,age=28,sex=M,income=33500, country=Taipei
fname=Carol,lname=Chen,age=25,sex=F,income=42500, country=Taipei

In [28]:
#一次只取回一筆查詢結果，這種方式在處理大量資料時，可以節省記憶體空間

sql = "SELECT * FROM EMPLOYEE"
cmd.execute(sql)
    
try:
    cmd.execute(sql)
    
    rowsCount = cmd.rowcount
    print(rowsCount)
    
    for i in range(0,rowsCount):
        record = cmd.fetchone()
        pid = row[0]
        fname = record[1]
        lname = record[2]
        age = record[3]
        sex = record[4]
        income = record[5]
        country= record[6]

        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d, country=%s" %(fname, lname, age, sex, income,country ))
        
except:
    print("Error: unable to fecth data")

4
fname=Nick,lname=Lin,age=35,sex=M,income=80000, country=Taichung
fname=David,lname=Yang,age=45,sex=M,income=55500, country=Taipei
fname=Mark,lname=Hu,age=28,sex=M,income=33500, country=Taipei
fname=Carol,lname=Chen,age=25,sex=F,income=42500, country=Taipei

#### 1.7 更新資料

In [29]:
sql = "UPDATE EMPLOYEE SET AGE ='32' WHERE FIRST_NAME ='Nick'"
cmd.execute(sql)
conn.commit()

#### 1.8 刪除資料

In [30]:
sql = "DELETE FROM EMPLOYEE WHERE AGE >= '%d'" % (50)
#print(sql)

#sql = "DELETE FROM EMPLOYEE"

try:
    
    cmd.execute(sql)
    conn.commit()
    
    sql = "SELECT * FROM EMPLOYEE"
    cmd.execute(sql)
  
    print( cmd.fetchall())   
    #print( cmd.fetchmany(2))      
    #print( cmd.fetchone())
    
except:
    conn.rollback()

((1, 'Nick', 'Lin', 32, 'M', 80000.0, 'Taichung'), (2, 'David', 'Yang', 45, 'M', 55500.0, 'Taipei'), (3, 'Mark', 'Hu', 28, 'M', 33500.0, 'Taipei'), (4, 'Carol', 'Chen', 25, 'F', 42500.0, 'Taipei'))

#### 1.9 關閉資料庫連接

In [31]:
conn.close()

### 2. MongoDB


* Start MongoDB service :  sudo service mongod start
* run command : mongo

#### 2.0 安裝套件 -- pymongo
* Python 2+ : pip install pymongo
* Python 3+ : pip3 install pymongo

#### 2.1 引用套件

In [32]:
import pymongo

#### 2.2 連接資料庫

In [33]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["MyTestDB"]

In [34]:
dblist = myclient.list_database_names() #讀取資料庫清單
if "MyTestDB" in dblist:
    print("DB 已存在！")
else:
    print("DB 不存在！")

DB 不存在！

#### 2.4 插入資料

In [36]:
mycol = mydb["Course"]

# 插入一筆資料

mydict = { "ename": "Computer Science","cname":"電腦科學","teacher": "Nick", "credit":3,"room":"A101" } 

x = mycol.insert_one(mydict) 
print(x.inserted_id)

5bd61a815f627d1376b99f46

In [37]:
# 插入多筆資料

mylist = [
  { "ename": "FINANCIAL MANAGEMENT","cname":"財務管理","teacher": "林稚齡", "credit":3,"room":"A101" }, 
  { "ename": "PROGRAMMING LANGUAGE","cname":"程式語言","teacher": "周杰倫", "credit":3,"room":"B101" }, 
  { "ename": "DATA STRUCTURE","cname":"資料結構","teacher": "蔡依林", "credit":2,"room":"A101" } , 
  { "ename": "MOBILE COMMERCE","cname":"行動電子商務","teacher": "韋禮安", "credit":2,"room":"B101" } , 
  { "ename": "ENTERPRISE RESOURCE PLANNING","cname":"企業資源規劃","teacher": "盧廣仲", "credit":1,"room":"B101" } , 
  { "ename": "MARKETING MANAGEMENT","cname":"行銷管理","teacher": "徐佳瑩", "credit":2,"room":"C101" }  
]
 
x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5bd61a835f627d1376b99f47'), ObjectId('5bd61a835f627d1376b99f48'), ObjectId('5bd61a835f627d1376b99f49'), ObjectId('5bd61a835f627d1376b99f4a'), ObjectId('5bd61a835f627d1376b99f4b'), ObjectId('5bd61a835f627d1376b99f4c')]

In [38]:
# 插入多筆資料並指定id
mylist = [
  { "_id": 11, "ename": "SYSTEM ANALYSIS AND DESIGN","cname":"系統分析與設計","teacher": "Hebe", "credit":2,"room":"D202" },
  { "_id": 12, "ename": "CLOUD COMPUTING","cname":"雲端技術與應用","teacher": "David", "credit":2,"room":"D201" },
  { "_id": 13, "ename": "BIG DATA ANALYSIS TECHNIQUES","cname":"巨量資料分析技術","teacher": "David", "credit":2,"room":"C101" }
]
 
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[11, 12, 13]

#### 2.5 查詢資料

In [39]:
# 回傳一筆資料
x = mycol.find_one() 
print(x)

{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}

In [40]:
# 回傳多筆資料
data = mycol.find()
for x in data :
    print(x)

{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'B101', 'ename': 'PROGRAMMING LANGUAGE', 'credit': 3, 'cname': '程式語言', 'teacher': '周杰倫', '_id': ObjectId('5bd61a835f627d1376b99f48')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}
{'room': 'B101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'B101', 'ename': 'ENTERPRISE RESOURCE PLANNING', 'credit': 1, 'cname': '企業資源規劃', 'teacher': '盧廣仲', '_id': ObjectId('5bd61a835f627d1376b99f4b')}
{'room': 'C101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}
{'ename': 'SYSTEM ANALYSIS AND DESIGN', 'credit': 2, 'cname': '系統分析與設計', '_id': 11, 'teacher': 'Hebe', 'room': 'D202'}
{'ename': 'CLOUD COMPUTING', 'credit': 2, 'cname': '雲端技術與應用', '_id': 12, 'teacher': 'David', 'room': 'D201'}
{'ename': 'BIG DATA ANALYSIS TECHNIQUES', 'credit': 2, 'cname': '巨量資料分析技術', '_id': 13, 'teacher': 'David', 'room': 'C101'}

In [41]:
# Select 呈現特定欄位
for x in mycol.find({},{ "_id": 0, "cname": 1, "room": 1 }):
    print(x)

{'cname': '電腦科學', 'room': 'A101'}
{'cname': '電腦科學', 'room': 'A101'}
{'cname': '財務管理', 'room': 'A101'}
{'cname': '程式語言', 'room': 'B101'}
{'cname': '資料結構', 'room': 'A101'}
{'cname': '行動電子商務', 'room': 'B101'}
{'cname': '企業資源規劃', 'room': 'B101'}
{'cname': '行銷管理', 'room': 'C101'}
{'cname': '系統分析與設計', 'room': 'D202'}
{'cname': '雲端技術與應用', 'room': 'D201'}
{'cname': '巨量資料分析技術', 'room': 'C101'}

In [42]:
# 條件查詢
myquery = { "room": "A101" } 
mydoc = mycol.find(myquery) 

print (mydoc)

for x in mydoc:
     print(x)

<pymongo.cursor.Cursor object at 0x7fe5e8d22630>
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}

In [43]:
myquery = { "room": "A101","credit": {"$gt": 2} }
mydoc = mycol.find(myquery) 

print (mydoc)

for x in mydoc:
     print(x)

<pymongo.cursor.Cursor object at 0x7fe5e8d22e48>
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}

In [44]:
# 條件查詢 , 使用正規表達式
myquery = { "ename": { "$regex": "^M" } }
 
mydoc = mycol.find(myquery)
 
for x in mydoc:
    print(x)

{'room': 'B101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'C101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}

In [45]:
#顯示前三筆資料
myresult = mycol.find().limit(3)
 
# 输出结果
for x in myresult:
    print(x)

{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}

In [46]:
#依特定欄位排序資料

mydoc = mycol.find().sort("credit")

# mydoc = mycol.find().sort("alexa", -1)

for x in mydoc:
    print(x)

{'room': 'B101', 'ename': 'ENTERPRISE RESOURCE PLANNING', 'credit': 1, 'cname': '企業資源規劃', 'teacher': '盧廣仲', '_id': ObjectId('5bd61a835f627d1376b99f4b')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}
{'room': 'B101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'C101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}
{'ename': 'SYSTEM ANALYSIS AND DESIGN', 'credit': 2, 'cname': '系統分析與設計', '_id': 11, 'teacher': 'Hebe', 'room': 'D202'}
{'ename': 'CLOUD COMPUTING', 'credit': 2, 'cname': '雲端技術與應用', '_id': 12, 'teacher': 'David', 'room': 'D201'}
{'ename': 'BIG DATA ANALYSIS TECHNIQUES', 'credit': 2, 'cname': '巨量資料分析技術', '_id': 13, 'teacher': 'David', 'room': 'C101'}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'B101', 'ename': 'PROGRAMMING LANGUAGE', 'credit': 3, 'cname': '程式語言', 'teacher': '周杰倫', '_id': ObjectId('5bd61a835f627d1376b99f48')}

#### 2.6 更新資料

In [47]:
#依特定條件,更新資料
myquery = { "room": "A101" }
newvalues = { "$set": { "room": "B102" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
    print(x)

{'room': 'B102', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'B101', 'ename': 'PROGRAMMING LANGUAGE', 'credit': 3, 'cname': '程式語言', 'teacher': '周杰倫', '_id': ObjectId('5bd61a835f627d1376b99f48')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}
{'room': 'B101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'B101', 'ename': 'ENTERPRISE RESOURCE PLANNING', 'credit': 1, 'cname': '企業資源規劃', 'teacher': '盧廣仲', '_id': ObjectId('5bd61a835f627d1376b99f4b')}
{'room': 'C101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}
{'ename': 'SYSTEM ANALYSIS AND DESIGN', 'credit': 2, 'cname': '系統分析與設計', '_id': 11, 'teacher': 'Hebe', 'room': 'D202'}
{'ename': 'CLOUD COMPUTING', 'credit': 2, 'cname': '雲端技術與應用', '_id': 12, 'teacher': 'David', 'room': 'D201'}
{'ename': 'BIG DATA ANALYSIS TECHNIQUES', 'credit': 2, 'cname': '巨量資料分析技術', '_id': 13, 'teacher': 'David', 'room': 'C101'}

In [48]:
#依正規表達式條件,更新資料
myquery = { "ename": { "$regex": "^M" } }
newvalues = { "$set": { "room": "A101" } }
 
x = mycol.update_many(myquery, newvalues)
 
print(x.modified_count, "文件已經修改")
for x in mycol.find():
    print(x)

2 文件已經修改
{'room': 'B102', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a495f627d1376b99f45')}
{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'B101', 'ename': 'PROGRAMMING LANGUAGE', 'credit': 3, 'cname': '程式語言', 'teacher': '周杰倫', '_id': ObjectId('5bd61a835f627d1376b99f48')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}
{'room': 'A101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'B101', 'ename': 'ENTERPRISE RESOURCE PLANNING', 'credit': 1, 'cname': '企業資源規劃', 'teacher': '盧廣仲', '_id': ObjectId('5bd61a835f627d1376b99f4b')}
{'room': 'A101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}
{'ename': 'SYSTEM ANALYSIS AND DESIGN', 'credit': 2, 'cname': '系統分析與設計', '_id': 11, 'teacher': 'Hebe', 'room': 'D202'}
{'ename': 'CLOUD COMPUTING', 'credit': 2, 'cname': '雲端技術與應用', '_id': 12, 'teacher': 'David', 'room': 'D201'}
{'ename': 'BIG DATA ANALYSIS TECHNIQUES', 'credit': 2, 'cname': '巨量資料分析技術', '_id': 13, 'teacher': 'David', 'room': 'C101'}

#### 2.7 刪除資料

In [49]:
# 依特定條件,刪除一筆資料
myquery = { "teacher": "Nick" }
 
mycol.delete_one(myquery)

for x in mycol.find():
    print(x)

{'room': 'A101', 'ename': 'Computer Science', 'credit': 3, 'cname': '電腦科學', 'teacher': 'Nick', '_id': ObjectId('5bd61a815f627d1376b99f46')}
{'room': 'A101', 'ename': 'FINANCIAL MANAGEMENT', 'credit': 3, 'cname': '財務管理', 'teacher': '林稚齡', '_id': ObjectId('5bd61a835f627d1376b99f47')}
{'room': 'B101', 'ename': 'PROGRAMMING LANGUAGE', 'credit': 3, 'cname': '程式語言', 'teacher': '周杰倫', '_id': ObjectId('5bd61a835f627d1376b99f48')}
{'room': 'A101', 'ename': 'DATA STRUCTURE', 'credit': 2, 'cname': '資料結構', 'teacher': '蔡依林', '_id': ObjectId('5bd61a835f627d1376b99f49')}
{'room': 'A101', 'ename': 'MOBILE COMMERCE', 'credit': 2, 'cname': '行動電子商務', 'teacher': '韋禮安', '_id': ObjectId('5bd61a835f627d1376b99f4a')}
{'room': 'B101', 'ename': 'ENTERPRISE RESOURCE PLANNING', 'credit': 1, 'cname': '企業資源規劃', 'teacher': '盧廣仲', '_id': ObjectId('5bd61a835f627d1376b99f4b')}
{'room': 'A101', 'ename': 'MARKETING MANAGEMENT', 'credit': 2, 'cname': '行銷管理', 'teacher': '徐佳瑩', '_id': ObjectId('5bd61a835f627d1376b99f4c')}
{'ename': 'SYSTEM ANALYSIS AND DESIGN', 'credit': 2, 'cname': '系統分析與設計', '_id': 11, 'teacher': 'Hebe', 'room': 'D202'}
{'ename': 'CLOUD COMPUTING', 'credit': 2, 'cname': '雲端技術與應用', '_id': 12, 'teacher': 'David', 'room': 'D201'}
{'ename': 'BIG DATA ANALYSIS TECHNIQUES', 'credit': 2, 'cname': '巨量資料分析技術', '_id': 13, 'teacher': 'David', 'room': 'C101'}

In [50]:
# 依正規表達示條件,刪除多筆資料

myquery = { "ename": {"$regex": "^M"} }
 
x = mycol.delete_many(myquery)
 
print(x.deleted_count, "個文件已刪除")

2 個文件已刪除

#### 2.8 刪除 Collections

In [51]:
mycol.drop()